@import "foundation";
@import "stories";

.padv50 {
  padding: 50px 0;
}

.comment {
  border-top: 1px solid gray;
  // border-bottom: 1px solid gray;
  padding-top: 10px;
  // padding-bottom: 10px;
}